<strong>Olá, {{ username }}</strong>
<p>O usuário {{ username_register }} inscreveu em um evento que você organizou!</p>

  <p>Nome do Evento:<b> {{ meetup_title }}</b></p>
  <p>Data do Evento: {{ meetup_date }}</p>
  <br />

  Att,
  <br>
{{> footer }}
